---
import Home from '../components/Home.astro';
import Experiences from '../components/Experiences.astro';
import Proyects from '../components/Proyects.astro';
import Skills from '../components/Skills.astro';
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Francisco Cavelli | Full stack developer">
	<main class="min-h-screen min-w-screen w-full h-full flex flex-col items-center overflow-hidden relative">
		<Home />
		<Experiences />
		<Proyects />
		<Skills />
		<AboutMe />
		<Contact />
	</main>
</Layout>
<style>
	main{
		background: #FFF0E0;
	}
</style>