---
import Layout from '../layouts/Layout.astro';

import resume from '../portfolio2/src/assets/resume.pdf';
---

<Layout title="Francisco Cavelli | Full stack developer">
	<main class="min-h-screen min-w-screen rounded-xl p-4 relative flex items-center justify-center">
        <div class="w-1/2">
            <iframe src={resume} width="100%" height="730px"></iframe>
        </div>
    </main>
</Layout>
<style is:global>
	main{
		background: #FFF0E0;
	}
</style>