---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Francisco Cavelli | Full stack developer">
	<main class="min-h-screen min-w-screen rounded-xl p-4 relative flex items-center justify-center">
        <div class="w-1/2">
        </div>
    </main>
</Layout>
<style is:global>
	main{
		background: #FFF0E0;
	}
</style>