---

---
<section class="2xl:w-3/4 w-full h-full min-h-screen relative flex justify-center" id="aboutme">
    <div class="w-2/3 pt-20">
        <h3 class="text-4xl subtitle">About me</h3>
        <p class="text-xl mt-2">The Person Behind the Code</p>
    </div>
</section>