---

---
<section class="2xl:w-3/4 w-full h-full min-h-screen relative flex justify-center" id="contact">
    <div class="w-2/3 pt-20 text-center">
        <h3 class="text-4xl subtitle">Contact</h3>
        <p class="text-xl mt-2">Get in Touch</p>
    </div>
</section>