---
import { Image } from 'astro:assets';
import astro from '../assets/images/astro2.png';
---
<div class="2xl:w-3/4 w-full h-screen relative flex items-center justify-center">
    <div class="w-1/3 h-full flex items-center">
        <Image src={ astro } alt="Astro" class="w-full astro"/>
    </div>
    <div class="w-2/3">
        <h1 class="text-9xl">Francisco<br>Cavelli</h1>
        <div class="flex items-center mt-24">
            <h2 class="text-xl ms-2"> Full stack developer</h2>
        </div>
    </div>
</div>
<style>
    .astro {
        translate: 1.5rem;
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
        filter: drop-shadow(0 0 0.75rem #00000033);
		animation: show 2s ease-in-out, astro 3s infinite alternate-reverse ease-in-out;
    }
    h1{
        font-family: 'LaOriental', sans-serif;
        transform: scaleY(2);
        line-height: 6rem;
        color: #170009;
        filter: drop-shadow(0 0 0.75rem #00000033);
    }
    h2{
        font-family: 'LaOriental', sans-serif;
        transform: scaleY(2);
        color: #170009;
    }
    @font-face {
        font-family: 'LaOriental';
        src: url('/src/assets/fonts/LaOriental.otf') format('woff');
    }
    @keyframes astro {
        0% {
            transform: translateY(0);
            transform: translateX(0);
        }
        100% {
            transform: translateY(-1rem);
            transform: translateX(.5rem);
        }
    }
    @keyframes show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>