---

---
<section class="2xl:w-3/4 w-full h-full min-h-screen relative flex justify-center" id="proyects">
    <div class="w-5/6 pt-20">
        <h3 class="text-4xl subtitle">Proyects</h3>
        <p class="text-xl mt-2">What I've Built</p>
    </div>
</section>