---
import { Image } from "astro:assets"

import bueno from '../assets/images/bueno.png';
---
<section class="2xl:w-3/4 w-full h-full min-h-screen relative flex justify-center" id="proyects">
    <div class="w-2/3 pt-20">
        <h3 class="text-4xl subtitle">Proyects</h3>
        <p class="text-xl mt-2">What I've Built</p>
        <Image src={bueno} alt='Bueno boy' class='scale-x-[-1]'/>
    </div>
</section>