---

---
<section class="2xl:w-3/4 w-full h-full min-h-screen relative flex justify-center" id="skills">
    <div class="w-2/3 pt-20">
        <h3 class="text-4xl subtitle">Skills</h3>
        <p class="text-xl mt-2">What I’m Good At</p>
    </div>
</section>