---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I'm Francisco Cavelli, a passionate Full Stack Developer with experience in Python, JavaScript, React, Node.js, and more. I excel in team collaboration, generating innovative ideas, and am constantly learning." />
		<meta name="viewport" content="width=device-width" />
		<script src="https://kit.fontawesome.com/09f505da7c.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/svg+xml" href="/src/assets/images/saturn.png" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>